@media (prefers-color-scheme: light) {
    /*
    White - rgb(14,17,22)
    Whitesmoke - rgb(2,4,9)
    */

    tbody tr:hover {
        background-color: whitesmoke;
    }
    tbody tr {
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    }
}
@media (prefers-color-scheme: dark) {

    tbody tr:hover {
        background-color: rgb(2,4,9);
    }
    tbody tr {
        box-shadow: 0 0 10px 1px rgba(80, 80, 82, 0.1);
    }
}
table {
    width: 90%;
    margin: 0 auto 0 auto;
    border-collapse: separate;
    border-spacing: 0 15px
}
th {
    text-align: left;
    text-align: center;
    font-size: small;
    padding: 5px 5px;
}
td {
    padding: 15px;
    text-align: center;
    font-size: small;
    margin-top: 25px;
    font-size: large;
}
tbody tr {
    border-radius: 5px;
    padding: 5px;
}

.server-state {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin: 0 auto 0 auto;
}

.server-state-None {
    background-color: grey;
}
.server-state-True {
    background-color: green;
}
.server-state-False {
    background-color: red;
}