@media (prefers-color-scheme: light) {
    /*
    White - rgb(14,17,22)
    Whitesmoke - rgb(2,4,9)
    */
    body {
        background-color: white;
        color: black;
    }
    input,
    input[type='submit'],
    button {
        background-color: rgb(228, 227, 227);
    }
    input[type='submit']:hover,
    button:hover {
        background-color: rgb(201, 201, 201);
    }
}
@media (prefers-color-scheme: dark) {

    body {
        background-color: rgb(14,17,22);
        color: white;
    }

    .logo {
        filter: invert(100%);
    }

    input,
    input[type='submit'],
    button {
        background-color: rgb(51, 51, 51);
        color: white;
    }
    input[type='submit']:hover,
    button:hover {
        background-color: rgb(35, 36, 36);
    }
}

* {
    margin: 0px;
    padding: 0px;
    transition: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none !important;
}

input[type='submit'],
button {
    border: none;
    border-radius: 10px;
    padding: 10px;
}

input[type='submit']:hover,
button:hover {
    cursor: pointer;
}

input {
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.flex {
    display: flex;
    gap: 5px;
}
.flex > * {
    flex: 1;
}

.inline {
    align-items: center;
}