<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/servers.css">
    <link rel="stylesheet" href="/static/css/top-bar.css">
    <link rel="stylesheet" href="/static/css/popup.css">
    <title>Server Monitor</title>
</head>
<div id="blanket" class="hidden"></div>
<body>
    {% include 'top-bar.html' %}
    <table>
        <thead>
            <tr>
                <th>State</th>
                <th>Server Name</th>
                <th>IP Address</th>
                <th>Trip Time (ms)</th>
                <th>Up time</th>
                <th>Last Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="servers-table">
            {% for server in servers %}
                <tr id="{{server.id}}" class="row-{{server.state}}">
                    <td>
                        <p class="server-state server-state-{{server.state}}"></p>
                    </td>
                    <td>{{ server.name }}</td>
                    <td>{{ server.ip }}</td>
                    <td>
                        {% if server.trip_time != None %}
                            {{ server.trip_time | round(1)}}
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                    <td>
                        {{ server.uptime }}
                    </td>
                    <td>
                        {% if server.last_active != None %}
                            {{ server.last_active.strftime('%Y-%m-%d %H:%M:%S') }}
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                    <td><button onclick="deleteItem('{{server.id}}')">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="add-server-popup" class="popup add-server-popup hidden">
        <form method="POST" action="{{ url_for('add_host') }}">
            <p>
                <label for="ip">IP Address:</label><br>
                <input type="text" id="ip" name="ip" required>
            </p>
            <p>
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" required>
            </p>
            <div class="flex inline">
                <input type="submit" value="Add Host">
                <button onclick="hidePopup('add-server-popup')">Cancel</button>
            </div>
        </form>  
    </div>

    <div id="interval-popup" class="popup interval-popup hidden">
        <form method="POST" action="{{ url_for('change_interval') }}">
            <p>
                <label for="interval">Interval:</label><br>
                <input type="number" id="interval" name="interval" required value="{{ config.monitoring_interval }}">
            </p>
            <div class="flex inline">
                <input type="submit" value="Update interval">
                <button onclick="hidePopup('interval-popup')">Cancel</button>
            </div>
        </form>  
    </div>
</body>
<script src="/static/script/servers.js"></script>
</html>