<div id="top-bar" class="top-bar">
    <img id="check-config-icon" src="static/data/images/server.png" style="width: 25px;">
    <div class="counters" style="flex: 30%;">
        <div style="display: flex; background-color: #c0e5c6;">
            <input id="online-checkbox" type="checkbox" checked>
            <p>Online </p>
            <p id="online-total"></p>
        </div>
        <div style="display: flex; background-color: #e7ccc7;">
            <input id="offline-checkbox" type="checkbox" checked>
            <p>Offline </p>
            <p id="offline-total"></p>
        </div>
    </div>
    <button title="Create a new connection" onclick="showPopup('add-server-popup')">New Server</button>
    <button title="Save current file" onclick="showPopup('interval-popup')">Set Interval</button>
</div>